@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.titulo{
    /*border-bottom: 4px solid black;*/
    width: 100%;
    background-color: purple;
}

#mail-icon{
    font-size: 3300%;
    text-align: center;
    margin-left: 35%;
    color: white;
}


.form{
    width: 800px;
    margin-left: 37%;
    margin-top: 5%;
    /*border: 2px solid red;*/
}

.insert-mail{
  width: 455px;
}

#exibe{
    text-align: center;
    margin-left: -59%;
}

#butao{
    text-align: center;
}

#butao #submeter{
    background-color: purple;
}

body{
  overflow-x: hidden;
}

h4{
  margin-left: 5%;
}

a{
  
  color: #000;
}

h4{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  /*text-decoration: underline;*/
}

/* .prot-dom{ 
  border: 2px solid red;
}

.prot-def{ /* Protocolos alternativos da kighost
  border: 2px solid red;
} 
*/